h1{
 font-family: Roboto;
 color: white;
}

body{
    /* background-color: black; */
}

h2{
  font-family: Roboto;
 color: white;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.profile-resume{    
    color: rgb(252, 166, 8);
    background-color: black;
}

section {
    justify-content: center;
    /* display: flex; */
    gap: 25px;
    font-size: 45px;
}